<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.13.14" targetFramework="net48" />
  <package id="NLog" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net48" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
</packages>